<div id="footer">
	<div id="footer-left">
		<p>
			&copy; Copyright G.Pimblott 2016
		</p>
	</div>
	<div id="footer-right">
		<p class="align-right">
			<a href="/">Home</a>
			|
			<a href="/about">About</a>
		</p>
	</div>
</div>