<div id="header">
	<h1 id="logo-text"><a title="" href="/">Doomometer</a></h1>
	<div id="nav">
		<ul>
			<li id="current">
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/earthquakes">Earthquakes</a>
			</li>
			<li>
				<a href="/news">News</a>
			</li>
			<li>
				<a href="/disasters">Disasters</a>
			</li>
			<li>
				<a href="/cyber">Cyber</a>
			</li>
			<li>
				<a href="/spaceweather">Space</a>
			</li>
			<li>
				<a href="/alerts">Alert Levels</a>
			</li>

			<li>
				<a href="/about">About</a>
			</li>
		</ul>
		<p id="intro">
			Earthquakes, Disasters, Cyber-threats.....
			<br>
			<br>
		</p>
	</div>
</div>