.axis path, .axis line
{
	fill: none;
	stroke: #777;
	shape-rendering: crispEdges;
}

.axis text
{
	font-family: 'Arial';
	font-size: 13px;
	stroke: #777;
	fill: #888;
}
.tick
{
	stroke-dasharray: 1, 2;
}
.bar
{
	fill: #777;
}

