<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">

<html>
	<head>
		<title>Doomometer - About</title>

		<% include ../partials/head.ejs%>
		
		<body>
			<div id="wrap">

				<% include ../partials/header.ejs %>

				<!-- content-wrap starts -->
				<div id="content-wrap">

					<div id="main">

						<h2><a href="/">Overview</a></h2>

						<p>
							The Doom-O-meter is developed by G.Pimblott for general interest using publically available
							information feeds from the internet.  No guarantee is made as to the acuracy of the information
							as it is taken directly from 3rd party internet sites. Where possible links to the original
							sources have been provided.
						</p>

						<p>
							Information on my other projects can be found at <a href="www.pimblott.com">www.pimblott.com</a>
						</p>

						<h2><a href="/">Website design</a></h2>

						<h3>Template</h3>
						<p>
							The site has been developed using a modified version of a template provided by
							<strong>UrbanArtist</strong>.  This is a free, W3C-compliant, CSS-based website template
							by <a href="http://www.styleshout.com/">styleshout.com</a>. It is
							distributed under the <a rel="license" href="http://creativecommons.org/licenses/by/2.5/"> Creative Commons Attribution 2.5  License</a>.
							All credit to <a href="http://www.styleshout.com/">UrbanArtist</a>.
						</p>

						<h2><a href="/">Information feeds</a></h2>

						<p>
							All of the information feeds used on this website are retrieved from public RSS and XML sources on the
							internet.  Copyright remains with the original provider in all cases, and links are provided below to
							their sites.  I believe that all feeds are being used within the terms of their license, if you believe this
							to be incorrect please get in touch.
						</p>

						<h3>Mapping</h3>

						<p>
							The mapping uses <a href="http://openlayers.org/">OpenLayers</a> together
							with <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>.
							The map data is provided under the Open Database License, more information can be found <a href="http://www.openstreetmap.org/copyright">here</a>.
						</p>

						<h3>Earthquakes</h3>

						<p>
							Earthquake information is retrieved from the following sources:
							<ul>
								<li>
									<a href="http://earthquake.usgs.gov/earthquakes/feed/">USGS</a>
								</li>
								<li>
									<a href="http://www.emsc-csem.org">EMSC</a>
								</li>
							</ul>
						</p>

						<h3>Disasters</h3>

						<p>
							Disaster information is retrieved from the following sources:
							<ul>
								<li>
									<a href="http://www.gdacs.org/">Global Disaster Alert and Coordination System</a>
								</li>
							</ul>
						</p>

						<h3>Cyber</h3>

						<p>
							Cyber threat information is retrieved from the following sources:
							<ul>
								<li>
									<a href="http://www.sophos.com/en-us/about-us/rss-feeds.aspx">Sophos Antivirus</a>
								</li>
							</ul>
						</p>
						
						<h3>Space Weather</h3>

						<p>
							Space Weather is retrieved from the 
							<a href="http://www.swpc.noaa.gov/">The Space Weather Prediction Center (SWPC)</a>
						</p>


						<h3> Alert Levels</h3>
						<p>
							UK Threat levels are retrieved from the 
							<a href="https://www.mi5.gov.uk/home/the-threats/terrorism/threat-levels.html"/> UK MI5 Security Service</a>
						</p>

						<% include ../partials/footer.ejs%>
					</div>
				</div>
		</body>
</html>