<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">

<html>
	<head>

		<title>Doomometer - Cyber</title>

		<% include ../partials/head.ejs%>

	</head>

	<body>
		<div id="wrap">

			<% include ../partials/header.ejs %>

			<!-- content-wrap starts -->
			<div id="content-wrap">
				<div id="main">
					<h2>Viruses detected today</h2>


					<table width='400'>
						<tr>
							<th>Name</th><th>Time</th><th></th>
						</tr>
						<% include virus_top30.txt %>
					</table>

				</div>
				<div id="sidebar">
					<h3>Weekly Summary</h3>

					<table>
						<tr>
							<th>Date</th><th>Published Viruses</th>
						</tr>
						<% include virus_summary.txt%>
					</table>

				</div>

				<% include ../partials/footer.ejs %>
			</div>

		</div>

	</body>
</html>
