<?php

require_once ('./db.php');

$conn = mysqli_connect($host, $username, $password, $dbname);
if (mysqli_connect_errno()) {
	echo "Failed to connect to MYSQL: " . mysqli_connect_error();
}

$summaryResult = mysqli_query($conn, "SELECT * from virus_summary_view order by date desc limit 7") or die(mysql_error());

$stmt = NULL;
$date = NULL;

$stmt = mysqli_stmt_init($conn);

if (isset($_GET['date'])) {
	$date = $_GET['date'];
	$query = "SELECT url,name,time from virus where date(time)=?";

	if (mysqli_stmt_prepare($stmt, $query)) {
		mysqli_stmt_bind_param($stmt, "s", $date);
	} else {
		die(mysql_error());
	}
} else {
	$query = "SELECT url,name,time from virus_today_view";
	if (!mysqli_stmt_prepare($stmt, $query)) {
		die(mysql_error());
	}
}


mysqli_stmt_execute($stmt);
mysqli_stmt_store_result($stmt);
mysqli_stmt_bind_result($stmt, $url, $name, $time);

?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">

<html>
	<head>

		<title>Doomometer - Cyber</title>

		<link href="UrbanArtist.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="doom.ico">

		<script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>

	</head>

	<body>
		<div id="wrap">

			<?php include 'header.html'
			?>

			<!-- content-wrap starts -->
			<div id="content-wrap">
				<div id="main">
					<h2>Published Viruses</h2>
					<p>
						<?php

						if (isset($date)) {
							echo mysqli_stmt_num_rows($stmt) ." Viruses published on " . date("d-m-Y", strtotime($date));
						} else {
							echo mysqli_stmt_num_rows($stmt) . " Viruses published in the last 24 hours.";
						}
						?>
					</p>

					<table width='400'>
						<tr>
							<th>Name</th><th>Time</th><th></th>
						</tr>
						<?php

						while (mysqli_stmt_fetch($stmt)) {
							echo "<tr>" . "<td><a href=\"" . $url . "\" target=\"_blank\">" . $name . "</a></td>" . "<td>" . date("D j, H:i", strtotime($time)) . "</td>" . "<td><a href=\"" . $url . "\" target=\"_blank\">View</a></td>" . "</tr>";
						}
						?>
					</table>

				</div>
				<div id="sidebar">
					<h3>Weekly Summary</h3>

					<table>
						<tr>
							<th>Date</th><th>Published Viruses</th>
						</tr>
						<?php
						while ($row = mysqli_fetch_array($summaryResult)) {
							echo "<tr>" . "<td><a href=\"cyber.php?date=" . date("Y-m-d", strtotime($row['date'])) . "\"/>" . date("d-m-Y", strtotime($row['date'])) . "</a></td>" . "<td>" . $row['count'] . "</td>" . "<td><a href=\"cyber.php?date=" . date("Y-m-d", strtotime($row['date'])) . "\"/>View</a></td>" . "</tr>";
						}
						?>
					</table>

				</div>

				<?php include 'footer.html'
				?>
			</div>

		</div>

	</body>
</html>
<?php
include_once $_SERVER['DOCUMENT_ROOT'] . '../trace/api/LogRequest.php';
twatchLogRequest();
?>

<?php

if (isset($stmt)) {
	mysqli_stmt_close($stmt);
}

mysqli_free_result($summaryResult);
mysqli_close($conn);
?>