<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<title>Doomometer - Disasters</title>

		<% include ../partials/head.ejs %>
	
	</head>

	<body onload="init();">
		
		<script>
			var map;
			var disastersLayer;

			function init() {
				map = new OpenLayers.Map("basicMap");
				map.addLayer(new OpenLayers.Layer.OSM());

				map.addControl(new OpenLayers.Control.LayerSwitcher());

				var styleMap = new OpenLayers.StyleMap({pointRadius: 5 });
				var lookup = {
						"Green": {pointRadius: 5,fillColor: "green", fillOpacity: 0.5, strokeColor: "black"},
						"Red": {pointRadius: 5,fillColor: "red", fillOpacity: 0.5, strokeColor: "black"},
				}

				styleMap.addUniqueValueRules("default", "size", lookup);

				disastersLayer = new OpenLayers.Layer.Vector('Disasters', {styleMap: styleMap});

				

			var features = new Array(0);

			<% include ../cache/disaster_data.txt %>
	
			disastersLayer.addFeatures(features);

			map.addLayer(disastersLayer);
			
			select = new OpenLayers.Control.SelectFeature( disastersLayer );
			
			disastersLayer.events.on( { 
				"featureselected": onFeatureSelect,
				"featureunselected": onFeatureUnselect 
				});

			map.addControl(select);
			select.activate();

			map.zoomToMaxExtent();
		}


	</script>
		
		
		<div id="wrap">

			<% include ../partials/header.ejs %>


			<!-- content-wrap starts -->
			<div id="content-wrap">
				<div id="main">
					<h2>Disasters</h2>
					<p>
						Published today
					</p>
					
					
					<% include ../cache/disaster_top30.txt %>
				
				</div>
				<div id="sidebar">
					<h3>Weekly Summary</h3>
					
					<table>
						<tr><th>Date</th><th>Published Disasters</th></tr>
						
						<%include ../cache/disaster_summary.txt %>
					</table>
					<h3>Locations</h3>
					<div id="basicMap"></div>
				</div>
			
				<% include ../partials/footer.ejs %>
			
			</div>

		</div>
	</body>
</html>
