<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Doomometer - Earthquakes</title>

    <link href="UrbanArtist.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="doom.ico">

    <script src="scripts/OpenLayers.light.js" type="text/javascript"></script>
    <script src="scripts/popups.js" type="text/javascript"></script>
    <script src="scripts/jquery-1.9.1.min.js" type="text/javascript"></script>

    <style type="text/css">
        #basicMap {
            height: 350px;
            margin: 0;
        }
    </style>

    <script>
        var map;
        var quakesLayer;

        function init() {
            map = new OpenLayers.Map("basicMap");
            map.addLayer(new OpenLayers.Layer.OSM());

            map.addControl(new OpenLayers.Control.LayerSwitcher());

            var styleMap = new OpenLayers.StyleMap({pointRadius: 5});
            var lookup = {
                "small": {pointRadius: 2, fillColor: "yellow", fillOpacity: 0.5, strokeColor: "black"},
                "medium": {pointRadius: 5, fillColor: "orange", fillOpacity: 0.5, strokeColor: "black"},
                "large": {pointRadius: 10, fillColor: "red", fillOpacity: 0.5, strokeColor: "black"},
            }

            styleMap.addUniqueValueRules("default", "size", lookup);

            quakesLayer = new OpenLayers.Layer.Vector('Earthquakes', {styleMap: styleMap});

            var features = new Array(0);

            <% include earthquake_data.txt %>

            quakesLayer.addFeatures(features);

            map.addLayer(quakesLayer);

            select = new OpenLayers.Control.SelectFeature(quakesLayer);

            quakesLayer.events.on({
                "featureselected": onFeatureSelect,
                "featureunselected": onFeatureUnselect
            });

            map.addControl(select);
            select.activate();

            map.zoomToMaxExtent();
        }

    </script>

</head>

<body onload="init();">



<div id="wrap">

    <% include ../partials/header.ejs %>

    <!-- content-wrap starts -->
    <div id="content-wrap">
        <div id="main">
            <h2>Earthquakes</h2>
            <p>
                Top 20 earthquakes today
            </p>
            <table>
                <tr>
                    <th>Description</th>
                    <th>Depth</th>
                    <th>Time</th>
                    <th></th>
                </tr>
                <% include earthquake_top30.txt %>
            </table>
        </div>
        <div id="sidebar">
            <h3>Weekly Summary</h3>

            <table>
                <tr>
                    <th>Date</th>
                    <th>Total earthquakes</th>
                    <th>Average Magnitude</th>
                </tr>
               <% include earthquake_summary.txt %>
            </table>
            <h3>Locations</h3>
            <div id="basicMap"></div>
        </div>

        <% include ../partials/footer.ejs %>
    </div>

</div>
</body>
</html>

