<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header-example.ejs %>
</header>

<main>
    <div class="jumbotron">
        <h1>The Doomometer - r</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <% include ../partials/footer-example.ejs %>
</footer>

</body>
</html>