<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">

<html>
	<head>

		<title>Doomometer - News</title>

		<% include ../partials/head.ejs%>

	</head>

	<body>
		<div id="wrap">

			<% include ../partials/header.ejs %>

			<!-- content-wrap starts -->
			<div id="content-wrap">
				<div id="main">
					<h2>Categorised News headlines</h2>


					<p> Coming Soon !! :)</p>

				</div>
				<div id="sidebar">
					<h3>Weekly Summary</h3>



				</div>

				<% include ../partials/footer.ejs %>
			</div>

		</div>

	</body>
</html>
