
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<title>Doomometer - Space Weather</title>

		<% include ../partials/head.ejs %>

	</head>

	<body>
		<div id="wrap">

			<%include ../partials/header.ejs%>

			<!-- content-wrap starts -->
			<div id="content-wrap">
				<div id="main">
					<h2>Space Weather reports</h2>
					<p>Space weather reports published in the last 24 hours.</p>

					<% include ../cache/spaceweather_data.txt %>
				</div>
				<div id="sidebar">
					<h3>Weekly Summary</h3>

					<table>
						<tr>
							<th>Date</th><th>Published Space weather reports</th>
						</tr>

						<% include ../cache/spaceweather_summary.txt%>
					</table>

				</div>

				<% include ../partials/footer.ejs%>

			</div>

		</div>
	</body>
</html>

